body {
  background-color: #D382F0;
  font-family: sans-serif;
  padding-left: 50px;
}

h1 {
  color: #E7248C;
}

h3 {
  color: #E7248C;
}

ul {
  color: lightgreen;
}

ol {
  color: lightgreen;
  font-weight: 700;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

img {
  width: 500px;
  height: auto;
}